* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 30px 100px;
  text-align: center;
}

.resume-container {
  width: 800px; 
  height: 1120px;
  margin: auto;
  border: 2px solid #222;
  border-radius: 10px;
  padding: 25px;
}